//color
$color1:#0078d7;
$color2:#ffd662;
$color3:#fff;
$color4:#000;
$color5:#f6f1f1;
//width: 1920px;
@mixin font1 {font-family: 'Nanum Gothic', sans-serif;}

$font1: 'Jua', sans-serif;
$font2:'Nanum Gothic', sans-serif;
$font3: 'Gowun Batang', serif;



main {
    height: 100vh;
    background: #0078d7;
    display:flex;
    justify-content: space-between;
    nav {
        // background:lightblue;
        width:200px;
        // font-family: 'Righteous';
        a {
            
            margin:60px auto;
            display: block;
            width:60px; height: 60px;
            position:relative;
            .first {position: absolute;z-index: 999;}
            .second {position: absolute; z-index: 888;}
            p { font-family: $font3;
                padding:70px 0;
                color:#fff;
                font-weight: 600;
                text-align: center;
            }
            .first:hover{
                opacity:0;
                transition:opacity 0.3s linear;
            }
        }
    }//e:nav
    .wrap {
        margin:35px;
        width:90%; height: 900px;
        background: #fff;
        border-radius: 20px;
        .contents {
            display:flex;
            position:relative;
            .left {
                margin:40px 100px 0 100px;
                width: 400px;
                // background: lemonchiffon;
                img {width:100%;}
                .text_wrap {
                    
                    display:flex;
                    flex-flow: row wrap;
                    p { 
                        font-family: $font1;
                        width:200px;
                        padding:10px;
                        font-size:1.250rem; font-weight: 600;
                        line-height: 1.5;
                        span {font-size:1.250rem; font-weight: 600;font-family: $font1;}                      
                    }
                    p:nth-child(1) span {color:$color1;}
                    p:nth-child(2) span {color:#19A7CE;}
                    p:nth-child(3) span {color:#146C94;}
                    p:nth-child(4) span {color:#0A2D4D;}
                    p:nth-child(5) span {color:#FFD662;}
                }
                }
            .right {
                margin:40px;
                padding:10px;
                // background: lightcyan;
                img {position:absolute;top:50px; right:100px;}
                h1 {font-size: 3rem; font-weight: 600;font-family: $font1;}
                p {font-size:1.8rem;line-height: 1.2;font-family: $font3;}
                dl {padding-left:400px;
                    dt {font-size:1.5rem;line-height: 1.2; font-weight: 600;font-family: $font1;}
                    dd {font-size:1.2rem;padding:10px;font-family: $font3;}
                    }
                .person {width:400px;position: absolute;top:30%;left:35%;}
                }
            }
            //사람인 나왔을때 인성검사 넣기
        .btm {
            margin-left:50px;
            // background: lightblue;
            width:90%; height: 250px;
            h2 {
                font-weight: 600;
                font-size: 1.5rem;
                padding:20px;
            }
            .tool {
                display:flex;
                justify-content: space-between;
                
                li {
                    // padding:20px;
                    margin:20px;
                    img{width:100px;}
                }
                li:hover{scale:(1.2); transition:scale 0.5s;}
            }
        }
    }//e:wrap
}