/* Scrollbar css(chrome) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 5px;
}

body, html {
  scroll-behavior: smooth;
}

main {
  height: 200vh;
  background: #0078d7;
}
main nav {
  position: fixed;
  width: 200px;
}
main nav a {
  margin: 60px auto;
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
}
main nav a .first {
  position: absolute;
  z-index: 999;
}
main nav a .second {
  position: absolute;
  z-index: 888;
}
main nav a p {
  padding: 70px 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
main nav a .first:hover {
  opacity: 0;
  transition: opacity 0.3s linear;
}
main .container {
  float: right;
}
main .container .first {
  width: 1600px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
main .container .first .left {
  padding: 70px;
}
main .container .first .left h1 {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background-image: url(../images/result/sns_stream.png);
  background-position: center;
}
main .container .first .left h1 img {
  width: 100%;
}
main .container .first .left h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  padding: 20px 20px;
}
main .container .first .left ul li {
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 20px;
  font-family: "Gowun Batang", serif;
}
main .container .first .left .page {
  padding-top: 50px;
}
main .container .first .left .page a {
  font-family: "Jua", sans-serif;
  background: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 20px;
  font-weight: 600;
  transition: all 0.5s;
}
main .container .first .left .page a:hover {
  background: #ffd662;
  color: #0078d7;
}
main .container .first .right {
  display: flex;
  margin: 70px;
}
main .container .first .right .right_wrap {
  background: url(../images/result/eac39678-e4f0-4a24-a15f-39d74f486b14.png);
  background-size: cover;
  width: 400px;
  height: 800px;
  margin-right: 30px;
  border-radius: 20px;
}
main .container .first .right .right_wrap2 {
  background: url(../images/result/postype_sub3.png);
  background-size: cover;
  border-radius: 20px;
  width: 400px;
  height: 800px;
}
main .container .second {
  width: 1600px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
main .container .second .left {
  padding: 70px;
}
main .container .second .left h1 {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background-image: url(../images/result/bacin.png);
  background-position: center;
  background-size: cover;
}
main .container .second .left h1 img {
  width: 100%;
}
main .container .second .left h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  padding: 20px 20px;
}
main .container .second .left ul li {
  font-family: "Gowun Batang", serif;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 20px;
}
main .container .second .left .page {
  padding-top: 50px;
}
main .container .second .left .page a {
  font-family: "Jua", sans-serif;
  background: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 20px;
  font-weight: 600;
  transition: all 0.5s;
}
main .container .second .left .page a:hover {
  background: #ffd662;
  color: #0078d7;
}
main .container .second .right {
  display: flex;
  margin: 70px;
}
main .container .second .right .right_wrap {
  background: url(../images/result/bain\ main.png);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 800px;
  margin-right: 30px;
  border-radius: 20px;
}
main .container .second .right .right_wrap2 {
  background: url(../images/result/brain_re.png);
  background-position: top;
  background-size: cover;
  border-radius: 20px;
  width: 400px;
  height: 800px;
}/*# sourceMappingURL=main3.css.map */